<!DOCTYPE html>
<html lang="en">
   <head>
      <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

      <link rel="stylesheet" type="text/css" href="/static/css/all.css">
      <script src="/static/js/app/gist-code-macro.js" type="text/javascript"></script>
      <script type="text/javascript">require(['app/gist-code-macro']);</script>
   </head>
   <body class="gist-code-macro">
      <section id="content" class="ac-content">
         <script type="text/javascript" src="{{{gistUrl}}}"></script>
      </section>
   </body>
</html>
