@border: 3px;

body.bitbucket-snippet-code-macro {
   background-color: white;

   .file {
      .header {
         border-radius: @border @border 0px 0px;
         -moz-border-radius: @border @border 0px 0px;
         -webkit-border-radius: @border @border 0px 0px;

         border: 1px solid @aui-color-ash-gray;
         background-color: @aui-color-light-gray;

         padding: 10px;

         a, a:visited {
            color: @aui-color-medium-gray;
         }
      }

      .content {
         border-radius: 0px 0px @border @border;
         -moz-border-radius: 0px 0px @border @border;
         -webkit-border-radius: 0px 0px @border @border;

         border-left: 1px solid @aui-color-ash-gray;
         border-right: 1px solid @aui-color-ash-gray;
         border-bottom: 1px solid @aui-color-ash-gray;
         padding: 10px;
      }
   }

   .file + .file {
      margin-top: 15px;
   }
}
