body.gist-code-macro {
   background-color: white;

   // Gist seems to add a bottom margin to their gists by default. Kill this so that the iframe is tight
   .gist-file:last-child {
      margin-bottom: 0px;
   }
}
