@border: 3px;

body.paste-code-macro {
   background-color: white;

   .paste {
      .heading {
         border-radius: @border @border 0px 0px;
         -moz-border-radius: @border @border 0px 0px;
         -webkit-border-radius: @border @border 0px 0px;
         border-left: 1px solid @aui-color-gray;
         border-right: 1px solid @aui-color-gray;
         border-top: 1px solid @aui-color-gray;

         padding: 5px 15px;
         color: @aui-color-charcoal;
         font-weight: bold;
         background-color: @aui-color-light-gray;
      }

      .heading + .contents {
         border-radius: 0px 0px @border @border;
         -moz-border-radius: 0px 0px @border @border;
         -webkit-border-radius: 0px 0px @border @border;
      }

      .contents {
         -webkit-border-radius: @border;
         -moz-border-radius: @border;
         border-radius: @border;
         border: 1px solid @aui-color-gray;

         position: relative;

         #copy-to-clipboard {
            position: absolute;
            right: 10px;
            top: 10px;
         }

         pre {
            margin: 5px;

            code {
               padding: 10px;
            }
         }
      }
   }
}
